<div class="my-2 text-center">
  <h1>Clubs</h1>
</div>

<%= link_to "Create a club", new_club_path, class:"button-wb-r"%>

<div class="container">
  <div class="row">
    <% @clubs.each do |club| %>
      <div class="col-10 offset-1">
        <%= link_to club_path(club), class: "d-block" do %>
        <div class="container-profile w-100">
          <% if club.photo.attached? %>
            <%= cl_image_tag club.photo.key, class:"profile-img" %>
          <% else %>
            <%= image_tag "default-pic.png", class:"profile-img" %>
          <% end %>
          <div class="content-profile">
            <div class="sub-content">
              <h1><%= club.name %></h1>
              <p><strong>Created by:</strong> <%= club.user.first_name %></p>
              <p><i class="fas fa-users"> <%= club.members.count %></i></p>
              <span class="location"><i class="fa fa-map-marker" aria-hidden="true"> <%= "Stockholm" %></i></span>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
