
<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="container-profile w-100">
        <% if @club.photo.attached? %>
          <%= cl_image_tag @club.photo.key, class:"profile-img-club" %>
        <% else %>
          <%= image_tag "default-pic.png", class:"profile-img-club" %>
        <% end %>
        <div class="content-profile-club">
          <div class="sub-content">
            <h1><%= @club.name %></h1>
            <p><strong>Team Captain </strong> <%= @club.user.first_name %></p>
            <p><i class="fas fa-users"> <%= @club.members.count %></i></p>
            <span class="location">
              <i class="fa fa-map-marker" aria-hidden="true"> <%= "Stockholm" %></i>
            </span>
            <% if !current_user.club && !@existing_request_from_current_user %>
              <div class="mt-5 mb-3">
                <%= link_to "Join request", club_club_requests_path(@club), class:"button-bb", method: :post %>
              </div>
              <% elsif current_user == @club.user %>
                <div class="mt-5 mb-3">
                  <%= link_to "Find an opponent", clubs_path, class:"button-bb" %>
                </div>
            <% end %>
          </div>
        </div>
        <div class="match-card-A">
          <% @club.members.each.with_index(1) do |user, index| %>
            <div>
              <span class="mr-2"><%= index %>.</span>
              <% if user %>
                <span class="<%= 'text-info' if current_user == user %>">
                <%= link_to user_profile_path(user), class: "text-light" do %>
                  <%= user.first_name.first %>.
                  <%= user.last_name%>
                <% end %>
                </span>
              <% else %>
                <span class ="empty-spot">empty</span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%# <div class="header-card-club">
  <h2>Join requests</h2>
</div> %>
<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <% if @club.user == current_user %>
        <% @pending_club_requests.each do |request| %>
              <div class="shadow p-1 m-1 bg-white rounded d-flex">
          <%# <div class="club-request-card"> %>
             <p><%= request.user.first_name = request.user.last_name %></p>
                <%= link_to "Accept", club_request_path(request.id, choice: "accepted"),class:"badge badge-success", method: :patch, data:{confirm: "Are you sure you want to accept"} %>
                <%= link_to "Decline", club_request_path(request.id, choice: "declined"),class:"badge badge-secondary", method: :patch, data:{confirm: "Are you sure you want to decline"}  %>
              </div>
          <%# </div> %>
        <% end %>
      <% end %>
      <% if current_user.captain_of_own_club? && current_user.club != @club %>
          <%= link_to "Create Challenge", new_match_path(challenged_club_id: @club.id) %>
      <% end  %>
    </div>
  </div>
</div>
