
<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="container-profile w-100">
        <% if @club.photo.attached? %>
          <%= cl_image_tag @club.photo.key, class:"profile-img-club" %>
        <% else %>
          <%= image_tag "default-pic.png", class:"profile-img-club" %>
        <% end %>
        <div class="content-profile-club">
          <div class="sub-content">
            <h1><%= @club.name %></h1>
            <p><strong>Team Captain </strong> <%= @club.user.first_name %></p>
            <p><i class="fas fa-users"> <%= @club.members.count %></i></p>
            <span class="location">
              <i class="fa fa-map-marker" aria-hidden="true"> <%= "Stockholm" %></i>
            </span>
            <% if !current_user.club && !@existing_request_from_current_user %>
              <div class="mt-5 mb-3">
                <%= link_to "Join request", club_club_requests_path(@club), class:"button-bb", method: :post %>
              </div>
              <% elsif current_user == @club.user %>
                <div class="mt-5 mb-3">
                  <%= link_to "Find an opponent", clubs_path, class:"button-bb" %>
                </div>
            <% end %>
          </div>
        </div>
        <div class="match-card-A">
          <% @club.members.each.with_index(1) do |user, index| %>
            <div>
              <span class="mr-2"><%= index %>.</span>
              <% if user %>
                <span class="<%= 'text-info' if current_user == user %>">
                <%= link_to user_profile_path(user), class: "text-light" do %>
                  <%= user.first_name.first %>.
                  <%= user.last_name%>
                <% end %>
                </span>
              <% else %>
                <span class ="empty-spot">empty</span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% if @pending_club_requests.present? %>
  <div class="header-card-club">
    <h2>Join requests</h2>
  </div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <% if current_user.club == @club %>
        <% @pending_club_requests.each do |request| %>
          <div class="club-request-card">
            <div class="d-flex justify-content-center">
            <%= link_to user_profile_path(request.user.id), class: "text-info" do %>
              <h5><%= request.user.first_name %> <%= request.user.last_name %></h5>
            <% end %>
            </div>
              <div class="d-flex justify-content-center">
                <%= link_to club_request_path(request.id, choice: "accepted"),class:"button-accept badge badge-success d-flex justify-content-center align-items-center", method: :patch, data:{confirm: "Are you sure"} do %>
                  <i class="fas fa-check mt-1"></i>
                <% end %>
                <%= link_to club_request_path(request.id, choice: "declined"),class:"button-decline badge badge-secondary d-flex justify-content-center align-items-center", method: :patch do %>
                  <i class="fas fa-times mt-1"></i>
                <% end %>
              </div>
          </div>
        <% end %>
      <% end %>
      <% if current_user.captain_of_own_club? && current_user.club != @club %>
          <%= link_to "Create Challenge", new_match_path(challenged_club_id: @club.id) %>
      <% end  %>
    </div>
  </div>
</div>

<% if @club.challenge_requests.any? %>
  <div class="header-card-club mt-3">
    <h2>You are being challenged!</h2>
  </div>
<% end %>
<% if current_user.owned_club == @club %>
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1">
        <% @club.challenge_requests.each do |challenge| %>
          <div class="club-request-card d-block">
            <div class="text-center">
              <p>You have been challenged by <%= challenge.challenging_club.name %></p>
              <p>At <%= challenge.match.location %></p>
                <p>During <%= challenge.match.start_at.strftime("%d.%b - %H:%M") %></p>
            </div>
            <div class="d-flex justify-content-center mr-2">
              <div class="d-flex justify-content-center button-accept">
                <i class="fas fa-check mt-1"></i>
              </div>
              <div class="d-flex justify-content-center button-decline">
                <i class="fas fa-times mt-1"></i>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
