
<div class="container mt-5">
  <div class="row">
    <div class="col-10 offset-1 ">
      <div class="container-profile">
        <% if @club.photo.attached? %>
          <%= cl_image_tag @club.photo.key, class:"profile-img-club", alt:"Klubb logga" %>
        <% else %>
          <%= image_tag "footballpitch.jpg", class:"profile-img-club", alt:"Klubb logga" %>
        <% end %>
        <div class="content-profile-club">
          <div class="sub-content">
            <h1><%= @club.name %></h1>
            <p><strong>Team Captain </strong> <%= @club.user.first_name %> <%= @club.user.last_name.first%>.</p>
            <p><i class="fas fa-users"> <%= @club.members.count %></i></p>
            <span class="location">
              <i class="fa fa-map-marker" aria-hidden="true"> <%= "Stockholm" %></i>
            </span>
            <% if !current_user.club && !@existing_request_from_current_user %>
              <div class="mt-5 mb-3">
                <%= link_to "Join request", club_club_requests_path(@club), class:"button-bb", method: :post %>
              </div>
              <% elsif current_user == @club.user %>
                <div class="mt-5 mb-3">
                  <%= link_to "Find an opponent", clubs_path, class:"button-bb" %>
                </div>
            <% end %>
          </div>
        </div>
        <div class="club-team-list-card pb-3">
        <h5 class="club-list-of-players d-flex justify-content-center pb-3">Team members</h5>
          <% @club.members.each.with_index(1) do |user, index| %>
            <div class="club-list-of-players">
              <span class="m-2"><%= index %>.</span>
              <% if user %>
                <span class="<%= 'text-info' if current_user == user %>">
                <%= link_to user_profile_path(user), class: "text-light" do %>
                  <%= user.first_name.first %>.
                  <%= user.last_name%>
                  / <%= user.position %>
                <% end %>
                </span>
              <% else %>
                <span class ="empty-spot">empty</span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% if @pending_club_requests.present? && current_user.owned_club == @club %>
  <div class="header-card-club">
    <h2>Join requests</h2>
  </div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <% if current_user.owned_club == @club %>
        <% @pending_club_requests.each do |request| %>
          <div class="club-request-card">
            <div class="d-flex justify-content-center">
            <%= link_to user_profile_path(request.user.id), class: "text-info" do %>
              <h5><%= request.user.first_name %> <%= request.user.last_name %></h5>
            <% end %>
            </div>
              <div class="d-flex justify-content-center">
                <%= link_to club_request_path(request.id, choice: "accepted"),class:"button-accept badge badge-success d-flex justify-content-center align-items-center", method: :patch do %>
                  <i class="fas fa-check mt-1"></i>
                <% end %>
                <%= link_to club_request_path(request.id, choice: "declined"),class:"button-decline badge badge-secondary d-flex justify-content-center align-items-center", method: :patch do %>
                  <i class="fas fa-times mt-1"></i>
                <% end %>
              </div>
          </div>
        <% end %>
      <% end %>
      <% if current_user.captain_of_own_club? && current_user.club != @club %>
          <%= link_to "Challenge this Team", new_match_path(challenged_club_id: @club.id), class:"button-bb-with-margin d-flex justify-content-center d-block mx-auto"%>
      <% end  %>
    </div>
  </div>
</div>

<% if @club.challenge_requests.any? && current_user.owned_club == @club %>
  <div class="header-card-club mt-3">
    <h2>You are being challenged!</h2>
  </div>
<% end %>
<% if current_user.owned_club == @club %>
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1">
        <% @club.challenge_requests.each do |challenge| %>
          <div class="club-request-card d-block">
            <div class="text-center">
              <p>You have been challenged by <%= challenge.challenging_club.name %></p>
              <p>At <%= challenge.match.location %></p>
              <p>During <%= challenge.match.start_at.strftime("%d.%b - %H:%M") %></p>
              <p><%= challenge.challenging_club.user.first_name %><%= challenge.challenging_club.user.last_name.first%>.</p>
            </div>
            <div class="d-flex justify-content-center mr-2">
              <%= link_to accept_challenge_path(challenge), method: :patch do %>
                <div class="d-flex justify-content-center button-accept">
                  <i class="fas fa-check mt-1"></i>
                </div>
              <% end %>
              <%= link_to decline_challenge_path(challenge), method: :patch do %>
                <div class="d-flex justify-content-center button-decline">
                  <i class="fas fa-times mt-1"></i>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @club.matches.upcoming.any? && current_user.owned_club == @club %>
  <div class="header-card-club mt-3">
    <h2><%= @club.name %>s next opponents</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-10 offset-1">
        <% @club.matches.upcoming.each do |match| %>
          <%= link_to match_path(match), class: "w-100" do %>
            <div class="match-card py-3">
              <% if @club.photo.attached? %>
                <h2><%= cl_image_tag match.challenge.challenging_club.photo.key, class:"profile-img-club-show", alt:"Klubb logga" %> versus <%= cl_image_tag match.challenge.challenged_club.photo.key, class:"profile-img-club-show" %></h2>
              <% else %>
                <%= image_tag "footballpitch.jpg", class:"profile-img-club-show", alt:"Klubb logga" %>
              <% end %>
              <h5><i class="fas fa-map-marker-alt"></i> <%= match.location %></h5>
              <%= match.start_at.strftime("%d.%b - %H:%M") %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @club.tournaments.any? && current_user.owned_club == @club %>
  <div class="header-card-club mt-3">
    <h2><%= @club.name %>s next tournaments</h2>
  </div>

  <div class="container">
    <div class="row">
      <% @club.tournaments.each do |tournament| %>
        <div class="col-10 offset-1">
          <%= link_to creator_tournament_path(tournament.creator, tournament), class: "w-100" do %>
            <div class="container-profile w-100">
              <div class="content-profile-club">
                <div class="sub-content">
                    <h2 class="text-white"><%= tournament.creator.name %></h2>
                    <h3 class="text-white"><%= tournament.name %></h3>
                    <p><strong>Description: </strong> <%= tournament.description %></p>
                  <div class="tournament-card-content">
                    <p><i class="fas fa-fist-raised"></i> <%= tournament.skill_level %></i></p>
                    <p><i class="far fa-id-badge"></i></i> <%= tournament.age_group %></i></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

