
<%#= link_to 'goal!', tournament_match_path(team_1.id, team_1_score: += 1),class:"button-wb", method: :patch do %>
<div class="container" style="background-color: black; margin-top: 16px;" >
  <div class="row" style="justify-content: center; text-align: center; padding-top: 16px;">
    <% if @away_team.tournament_club.club.photo.attached? %>
      <h1 class="text-white"><%= cl_image_tag @home_team.tournament_club.club.photo.key, class:"w-25 ml-3" %> versus <%= cl_image_tag @away_team.tournament_club.club.photo.key, class:"w-25 mr-3", alt:"Klubb logga" %></h1>
    <% else %>
      <%= image_tag "footballpitch.jpg", class:"profile-img-club-show", alt:"Klubb logga" %>
    <% end %>
  </div>
  <div class="row" style="justify-content: space-around; text-align: center;" >
    <h2 class="text-white mt-2"><%= "#{@home_team.tournament_club.club.name}" %></h2>
    <h2 class="text-white mt-2"><%= "#{@home_team.goals}" %></h2>
    <h2 class="text-white mt-2">:</h2>
    <h2 class="text-white mt-2"><%= "#{@away_team.goals}" %></h2>
    <h2 class="text-white mt-2"><%= "#{@away_team.tournament_club.club.name}" %></h2>
  </div>
</div>
    <%= link_to "#{@home_team.tournament_club.club.name} goal!", home_team_path(@home_team), method: :patch %>
    <%= link_to "#{@away_team.tournament_club.club.name} goal!", away_team_path(@away_team), method: :patch %>
    <%= link_to "Full time", tournament_match_path(@tournament_match), method: :patch %>
