<div class="header-card">
<h1>Profile</h1>
</div>
<div class="wrapper-profile">
  <div class="container-profile">
  <% if @profile.photo.attached? %>
    <%= cl_image_tag @profile.photo.key, class:"profile-img" %>
  <% else %>
    <%= image_tag "default-pic.png", class:"profile-img" %>
    <%# <img src="images/default-pic.png" alt="default profile pic"/> %>
  <% end %>
    <div class="content-profile">
      <div class="sub-content">
        <h1><%= @profile.first_name %> <%= @profile.last_name %></h1>
        <span>Born: <%= @profile.birthday %></span>
        <p>Position: <%= @profile.position %></p>
        <span class="location"><i class="fa fa-map-marker" aria-hidden="true"> <%= @profile.city %></i></span>
      </div>
    </div>
  </div>
</div>
