<div class="header-card">
  <h1>Profile</h1>
</div>

<div class="wrapper-profile">
  <div class="container-profile">
    <% if @profile.photo.attached? %>
      <%= cl_image_tag @profile.photo.key, class:"profile-img" %>
    <% else %>
      <%= image_tag "football-player.png", class:"profile-img" %>
    <% end %>
    <div class="content-profile">
      <div class="sub-content">
        <h1><%= @profile.first_name %> <%= @profile.last_name %></h1>
        <p><strong><%= @profile.age %></strong> years old</p>
        <span ><i class="fa fa-map-marker mb-3" aria-hidden="true"> <%= @profile.city %></i></span>
        <div class="Position">
          <%= image_tag @profile.position_picture %>
            <div id="text">
              <%= @profile.position %>
            </div>
            <div class="location"></div>
        </div>
        <% if @profile.id == current_user.id %>
          <div class="my-3 pt-3">
            <%= link_to "Edit your profile", edit_user_registration_path %>
          </div>
          <div>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "text-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
