<div class="my-2 text-center">
  <h1>All upcoming Tournaments:</h1>
</div>
<div class="container">
  <div class="row">
    <% @tournaments.each do |tournament| %>
      <div class="col-10 offset-1">
        <%= link_to creator_tournament_path(tournament.creator, tournament), class: "d-block" do %>
          <div class="container-profile w-100">
            <div class="content-profile-club p-0">
                <div class="sub-content">
                    <%= image_tag 'kickofftrophy.png', class:"w-100" %>
                    <h1><%= tournament.name %></h1>
                    <p><strong>Description: </strong> <%= tournament.description %></p>
                  <div class="tournament-card-content">
                    <p><i class="fas fa-fist-raised"></i> <%= tournament.skill_level %></i></p>
                    <p><i class="far fa-id-badge"></i></i> <%= tournament.age_group %></i></p>
                </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
