<%= @tournament.name %>
<%= @tournament.description %>
<%= @tournament.creator %>

  <div class="mt-5 mb-3">
    <%= link_to "Join request", tournament_tournament_requests_path(@tournament), class:"button-bb", method: :post %>
  </div>

<% @tournament.teams.each do |team| %>
  <h1><%= team.name %></h1>
<% end %>


<% if @pending_tournament_requests.present? %>
  <div class="header-card-club">
    <h2>Tournament requests</h2>
  </div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
        <% @pending_tournament_requests.each do |request| %>
          <div class="club-request-card">
            <div class="d-flex justify-content-center">
              <h5><%= request.club.name %></h5>
            </div>
              <div class="d-flex justify-content-center">
                <%= link_to tournament_request_path(request.id, choice: "accepted"),class:"button-accept badge badge-success d-flex justify-content-center align-items-center", method: :patch do %>
                  <i class="fas fa-check mt-1"></i>
                <% end %>
                <%= link_to tournament_request_path(request.id, choice: "declined"),class:"button-decline badge badge-secondary d-flex justify-content-center align-items-center", method: :patch do %>
                  <i class="fas fa-times mt-1"></i>
                <% end %>
              </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
