<div class="banner-tournament">
  <div class="row" style="justify-content: center; text-align: center;">
    <%= image_tag "supercenter.png" %>
      <div id="text">
        <h1><%= @tournament.name %></h1>
        <p><%= @tournament.creator.name %></p>
      </div>
  </div>
</div>

<div class="container">
  <div class="row mt-3" style="text-align: center; justify-content: center;">
    <div class="description">
      <h3>About -> <%= @tournament.name %></h3>
      <p><%= @tournament.description %></p>
    </div>
  </div>
  <div class="row" style="text-align: center; justify-content: center;">
    <div class="rules">
      <h4>Tournament rules</h4>
      <p><%= @tournament.rules %></p>
    </div>
  </div>
  <div class="row" style="text-align: center; justify-content: center;">
    <div class="age-group">
      <h4>Age group</h4>
      <p><%= @tournament.age_group %> years old</p>
    </div>
  </div>
  <div class="row" style="text-align: center; justify-content: center;">
    <div class="skill-level">
      <h4>Skill level</h4>
      <p>This is a <%= @tournament.skill_level %> skill tournament</p>
    </div>
  </div>
  <div class="row" style="justify-content: center;">
    <div class="participating-teams">
      <h2>Participating teams</h2>
    </div>
    <% @tournament.teams.each do |club| %>
      <div class="col-10">
        <%= link_to club_path(club), class: "d-block" do %>
        <div class="container-profile w-100">
          <% if club.photo.attached? %>
            <%= cl_image_tag club.photo.key, class:"profile-img-club", alt:"Klubb logga" %>
          <% else %>
            <%= image_tag "footballpitch.jpg", class:"profile-img-club", alt:"Klubb logga" %>
          <% end %>
          <div class="content-profile-club">
            <div class="sub-content">
              <h1><%= club.name %></h1>
              <p><strong>Lead by </strong> <%= club.user.first_name %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>


  <% if !@existing_request_from_club || !current_user == @tournament.creator.user %>
    <div class="row" style="justify-content: center;">
      <div class="mt-5 mb-3">
        <%= link_to "Join request", tournament_tournament_requests_path(@tournament), class:"button-wb", method: :post %>
      </div>
    </div>
  <% end %>
</div>

<div class="mt-3">
  <% if @pending_tournament_requests.present? && current_user == @tournament.creator.user %>
    <div class="header-card-club">
      <h2>Tournament requests</h2>
    </div>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <% if current_user == @tournament.creator.user %>
        <% @pending_tournament_requests.each do |request| %>
          <div class="club-request-card">
            <div class="d-flex justify-content-center">
              <h5><%= request.club.name %></h5>
            </div>
              <div class="d-flex justify-content-center">
                <%= link_to tournament_request_path(request.id, choice: "accepted"),class:"button-accept badge badge-success d-flex justify-content-center align-items-center", method: :patch do %>
                  <i class="fas fa-check mt-1"></i>
                <% end %>
                <%= link_to tournament_request_path(request.id, choice: "declined"),class:"button-decline badge badge-secondary d-flex justify-content-center align-items-center", method: :patch do %>
                  <i class="fas fa-times mt-1"></i>
                <% end %>
              </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
