<div class="banner">
  <%= image_tag "footballpitch.jpg" %>
    <div id="text">
      <h1>BALR</h1>
      <p>By players for players</p>
    </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="header-card">
      <h2>Open matches</h2>
    </div>
    <div class="match-card px-3">
      <div class="location">
        <div>
          <div class="mr-2 location-icon"><i class="fas fa-map-marker-alt"></i></div>
          <p class="mb-0 location-text"><%= @matches.first.location %></p>
        </div>
      </div>
      <div class="time-spots-card pt-2 mt-3">
        <div class="">
          <p>
            <i class="far fa-clock mr-2"></i>
            <%= @matches.first.start_at.strftime("%H:%M") %>
          </p>
        </div>
        <div>
          <p>
            <i class="fas fa-users mr-2"></i>
            <%= @matches.first.match_users.count%>/<%= @matches.first.max_spots %></p>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
