<div class="banner">
  <%= image_tag "footballpitch.jpg" %>
    <div id="text">
      <h1><i class="fas fa-futbol">Balr</i></h1>
    </div>
</div>

<div>
  <div class="justify-content-center">
    <% if @next_match %>
      <div class="header-card">
        <h2>Open match</h2>
      </div>
      <div class="container">
        <%= link_to match_path(@next_match), class: "w-100" do %>
          <%= render "matches/match", match: @next_match, full_date: true %>
        <% end %>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <% if @user_next_matches&.any? %>
        <div class="header-card">
          <h2>Your uppcoming matches</h2>
        </div>
        <div class="container">
          <% @user_next_matches.each do |match| %>
            <%= link_to match_path(match), class: "w-100" do %>
              <%= render "matches/match", match: match, full_date: true %>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="header-card">
          <h2>Your matches</h2>
        </div>
        <div class="container">
          <%= link_to matches_path, class: "d-block" do %>
            <div class="match-card-hp ">
              <h3>Find matches</h3>
              <%= 'You are not appart of any matches' %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% unless user_signed_in? %>
      <div class="header-card">
        <h2>Start your journey</h2>
      </div>
      <div class="container">
        <%= link_to new_user_registration_path, class: "d-block" do %>
          <div class="match-card-hp">
            <h3>Sign up</h3>
            <p>Create your player profile</p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


      <%#= link_to "Logout", destroy_user_session_path, class: "nav-link", method: :delete %>
