<div class="banner">
  <%= image_tag "homepage.jpg" %>
    <div id="text">
      <h1><i class="fas fa-futbol"><%= @creator.name %></i></h1>
    </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div style="text-align: center;">
      <h4>About <%= @creator.name %></h4>
      <p><%= @creator.description %></p>
    </div>
  </div>
    <div style="text-align: center;">
      <div><h5>Located in: <%= @creator.location %></h5></div>
      <div><h4>Live Events:</h4></div>
      <div><h4>Upcoming Events:</h4></div>
      <div><button class="balr-btn"><%= link_to "see all upcoming events", root_path%></button></div>
      <div><button><%= link_to "more information", class: "balr-btn" %></button></div>
      <div><button class="balr-btn"><%= link_to "contact", class: "balr-btn" %></div>
    </div>
</div>
