<div class="banner-tournament">
  <div class="row" style="justify-content: center;">
    <%= image_tag "supercenter.png"%>
      <div id="text">
        <h1><%= @creator.name %></h1>
        <p><%= @creator.location %></p>
      </div>
  </div>
</div>

<div class="container">
  <div class="row mt-3" style="text-align: center; justify-content: center;">
    <div class="description">
      <h3>About -> <%= @creator.name %></h3>
      <p><%= @creator.description %></p>
    </div>
  </div>
  <% if current_user == @creator.user %>
    <div class="row mt-3 mb-3" style="text-align: center; justify-content: center;">
      <div class="creator-tournaments-link">
        <div><%= link_to "Tournaments", new_creator_tournament_path(@creator), class:"button-wb" %></div>
      </div>
    </div>
  <% end %>
  <div class="row mt-3" style="text-align: center; justify-content: center;">
    <div class="creator-tournaments-link">
      <div><%= link_to "Tournaments", creator_tournaments_path(@creator, @tournaments), class:"button-wb" %></div>
    </div>
  </div>
</div>
