<div class="header-card">
  <h1>Match</h1>
</div>
  <% if @match.challenge %>
    <div class="challenge-match-teams d-flex align-items-center justify-content-center mt-3">
      <% if @match.challenge.clubs.first.photo.attached? %>
        <%= cl_image_tag @match.challenge.clubs.first.photo.key, class:"profile-img-club" %>
      <% else %>
        <%= image_tag "sheild.png", class:"profile-img-club" %>
      <% end %>
      <h1>VS</h1>
      <% if @match.challenge.clubs.last.photo.attached? %>
        <%= cl_image_tag @match.challenge.clubs.last.photo.key, class:"profile-img-club" %>
      <% else %>
        <%= image_tag "sheild.png", class:"profile-img-club" %>
      <% end %>
    </div>
  <% end %>
  <%= render "match", match: @match, full_date: false %>
  <div class="d-flex justify-content-center">
    <h1>Squad lists</h1>
  </div>
  <% unless @already_joined %>
    <div class="btn-join-match d-flex">
      <div class="">
        <%= simple_form_for [@match, @match_user] do |f| %>
          <%= f.hidden_field :team, value: "A"%>
          <%= f.submit "Join A", class: "join-team button-bb-with-margin"%>
        <% end %>
      </div>
      <div class="">
        <%= simple_form_for [@match, @match_user] do |f| %>
          <%= f.hidden_field :team, value: "B" %>
          <%= f.submit "Join B", class: "join-team button-bb-with-margin" %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="d-flex match-card-show">
    <div class="match-card-A">
      <% @match.team_a_players.each.with_index(1) do |user, index| %>

        <p>
          <span class="mr-2"><%= index %>.</span>
          <% if user %>
            <%= link_to user_profile_path(user),
                        class: (current_user == user) ? "text-danger" : "text-light" do %>
              <%= user.first_name.first %>.
              <%= user.last_name%>
            <% end %>
            </span>
          <% else %>
            <span class ="empty-spot">empty</span>
          <% end %>
        </p>

      <% end %>
    </div>

    <div class="match-card-B">
      <% @match.team_b_players.each.with_index(1) do |user, index| %>
        <p>
          <span class="mr-2"><%= index %>.</span>
          <% if user %>
              <%= link_to user_profile_path(user),
                          class: (current_user == user) ? "text-danger" : "text-light" do %>
                <%= user.first_name.first %>.
                <%= user.last_name%>
              <% end %>
            </span>
          <% else %>
            <span class="empty-spot">empty</span>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
