<div class="header-card">
  <h1>Match Details:</h1>
</div>
  <%= render "match", match: @match %>
  <% unless @already_joined %>
    <div class="btn-join-match d-flex">
      <div class="btn-team">
        <%= simple_form_for [@match, @match_user] do |f| %>
          <%= f.hidden_field :team, value: "A"%>
          <%= f.submit "Join A", class: "join-team"%>
        <% end %>
      </div>
      <div class="btn-team">
        <%= simple_form_for [@match, @match_user] do |f| %>
          <%= f.hidden_field :team, value: "B" %>
          <%= f.submit "Join B", class: "join-team" %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="d-flex match-card-show">
    <div class="match-card-A">
      <% @match.team_a_players.each.with_index(1) do |user, index| %>
        <p>
          <span class="mr-2"><%= index %>.</span>
          <% if user %>
            <span class="<%= 'text-info' if current_user == user %>">
              <%= user.first_name.first %>.
              <%= user.last_name%>
            </span>
          <% else %>
            <span class ="empty-spot">empty</span>
          <% end %>
        </p>
      <% end %>
    </div>


    <div class="match-card-B">
      <% @match.team_b_players.each.with_index(1) do |user, index| %>
        <p>
          <span class="mr-2"><%= index %>.</span>
          <% if user %>
            <span class="<%= 'text-info' if current_user == user %>">
              <%= user.first_name.first %>.
              <%= user.last_name%>
            </span>
          <% else %>
            <span class="empty-spot">empty</span>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
